---
import { Icon } from "astro-icon";
import socials from "../../data/socials";
---

<section id="connect" class="container">
  <h1 class="title">Let's reach out!</h1>
  <p>
    Don't be a stranger, especially now that you've scrolled this far! I'm
    always open to hearing about new opportunities, whether a new project or
    just a friendly chat. Feel free to reach out through any of the platforms
    below. I'm also now learning to step out of my comfort zone and meet new
    people, so I think it's all the more reason to connect and say hi!
  </p>

  <div id="connect__grid">
    {
      socials.map((social) => (
        <div class="connect__grid__item" id={social.id && social.id}>
          <Icon name={social.iconName} />
          <h2>{social.name}</h2>
          <span class="subtitle">
            <a href={social.url} target="_blank" rel="noreferrer noopener">
              {social.linkText}
            </a>
          </span>
          <p>{social.description}</p>
        </div>
      ))
    }
  </div>
</section>

<script>
  import socials from "../../data/socials";

  const emailSubtitle = document.querySelector("#socials__email .subtitle > a");
  emailSubtitle?.addEventListener("click", () => {
    const email = window.atob("YXJhc2hAYXJhc2guY29kZXM=");
    navigator.clipboard.writeText(email).then(() => {
      emailSubtitle.textContent = "Copied to clipboard!";
      setTimeout(() => {
        emailSubtitle.textContent = socials.find(
          (s) => s.id === "socials__email"
        )!.linkText!;
      }, 2000);
    });
  });
</script>

<style>
  #connect__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5em;
    margin: 3rem -2em 0 -2em;
  }

  .connect__grid__item {
    width: auto;
    overflow-x: scroll;
    position: relative;
    padding: 2em;
    background-color: #1f1f1f;
    border-radius: 1em;
    border: 3px solid #1f1f1f;
    overflow: hidden;
    transition:
      transform 0.25s ease-out,
      border-color 0.25s ease-out;
  }

  .connect__grid__item:hover {
    transform: translateY(-5px);
    border-color: #2a2a2a;
  }

  .connect__grid__item > h2,
  .connect__grid__item > p {
    margin: 0;
  }

  .connect__grid__item > span {
    display: block;
    line-height: 1.28;
    margin: 0.5em 0;
  }

  .connect__grid__item > span > a {
    font-weight: 700;
  }

  [astro-icon] {
    width: 50%;
    position: absolute;
    opacity: 0.05;
    transition:
      opacity 0.3s ease-out,
      transform 0.3s ease-out;
    transform: rotate(10deg) translateY(10px);
    left: -10%;
    top: -25%;
    pointer-events: none;
  }

  .connect__grid__item:hover [astro-icon] {
    opacity: 0.1;
    transform: rotate(10deg) translateY(0);
  }

  #socials__blog .subtitle > a {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-weight: 800;
    font-style: italic;
  }

  #socials__email .subtitle > a {
    cursor: pointer;
  }

  @media only screen and (min-width: 768px) {
    #connect__grid {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-auto-rows: 1fr;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 1280px) {
    #connect__grid {
      /* grid-template-columns: repeat(3, 1fr); */
    }
  }
</style>
